apiVersion: apps/v1
kind: Deployment
metadata:
  name: monedas-api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: monedas-api
  template:
    metadata:
      labels:
        app: monedas-api
    spec:
      containers:
        - name: monedas-api
          image: cesaramontoya1/monedas-api:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: monedas-api-cm
            - secretRef:
                name: monedas-db-secrets
